.content {
    width: 85%;
    margin: 60px auto;
    background-color: rgba(245,245,245,0.95);
    padding: 40px;
}

.content h2 {
    margin-bottom: 20px;
    color: #4a5c50;
}

.projects-row {
    display: flex;
    justify-content: space-between;
}

.project-box {
    width: 23%;
    text-align: center;
}

.project-box img {
    width: 100%;
    border: 3px solid #6f7f72;
    margin-bottom: 10px;
}