.footer {
    background-color: #4a5c50;
    color: #f2f2f2;
    text-align: center;
    padding: 40px 0;
}

.footer img {
    height: 40px;
    margin-bottom: 10px;
}

.footer a {
    color: #d7e2da;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}