.header {
    background-color: #6f7f72;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left img {
    height: 80px;
    margin-right: 15px;
}

.header-left h1 {
    color: #f2f2f2;
}

.header-right a {
    color: #f2f2f2;
    text-decoration: none;
    margin-left: 25px;
}

.header-right a:hover {
    text-decoration: underline;
}